# CPU-only PyTorch and torchvision wheels from PyTorch index
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Other dependencies
google-cloud-secret-manager
pandas
gcsfs
Pillow