--extra-index-url https://download.pytorch.org/whl/cpu

# Specific CPU versions from PyTorch's index
torch==2.7.1+cpu
torchvision==0.17.2+cpu

# The rest from PyPI
numpy==1.26.4
pytorch-lightning==2.2.4
wandb
google-cloud-secret-manager
gcsfs